/* --- base */

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
}

/* --- utilities  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  display: block;
  content: "";
  clear:both;
}

/* --- layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header            header            header            header"
    "graph             graph             graph             graph"
    "main              main              main              aside-top"
    "main              main              main              aside-bottom"
    "footer            footer            footer            footer";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.grid-container > * {
  border: 1px dashed navy;
}

.grid-header {
  grid-area: header;
}

.grid-graph {
  grid-area: graph;
  padding: 1rem;
}

.grid-main {
  grid-area: main;
}

.grid-aside-top {
  grid-area: aside-top;
}

.grid-aside-bottom {
  grid-area: aside-bottom;
}

.grid-footer {
  grid-area: footer;
}

/* --- site elements */

.site-header {
  /* padding: 1.5rem 0; */
  /* background-color: midnightblue; */
  /* color: snow; */
}
.site-header > h1 ,
.site-header > p {
  /* margin: 0; */
}

.navbar {
  /* display: flex; */
  /* justify-content: space-between; */
}
.navbar-brand {}
.navbar-items {}
.navbar-item {}
.navbar-item.current {}

.timelines {
  /* position: fixed; */
  /* left: 10px; */
  /* right: 10px; */
  /* top: 10px; */
}

/* --- timeline */

.timeline-container {
  --timeline-size: 14px;
  font-family: monospace;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  border: 1px dotted lightgray;
  max-width: 100%;
  background-color: white;
  /* overflow: auto; */
}

.timeline-container:hover .timeline-label {
  max-width: unset;
}

.timeline-items {
  display: flex;
  align-items: center;
}

.timeline-items::after {
  display: block;
  content: "";
  clear: both;
}

.timeline-iddle {
  position: relative;
  text-align: center;
}
.timeline-iddle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px dotted lightgray;
}

.timeline-iddle.start,
.timeline-iddle.finish {
  white-space: nowrap;
}
.timeline-iddle.start {
  min-width: 5rem;
}
.timeline-iddle.finish {
  min-width: 10rem;
}

.timeline-iddle-timing {
  display: inline-block;
  position: relative;
  padding: 0 calc( var(--timeline-size) * 0.5 );
  border-radius: calc( var(--timeline-size) / 2 );
  text-align: center;
  font-family: monospace;
  font-size: 50%;
  background-color: whitesmoke;
  color: darkslategray;
  border: 1px dotted lightgray;
}

.timeline-item {
  --color-slotRequested: skyblue;
  --color-slotResponseReceived: royalblue;
  --color-slotRenderEnded: limegreen;
  --color-slotOnload: gold;
  --color-slotVisibilityChanged: pink;
  --color-impressionViewable: deeppink;
  position: relative;
}

.timeline-item.slotRequested .timeline-timing {
  background-color: var(--color-slotRequested);
}
.timeline-item.slotResponseReceived .timeline-timing {
  background-color: var(--color-slotResponseReceived);
}
.timeline-item.slotRenderEnded .timeline-timing {
  background-color: var(--color-slotRenderEnded);
}
.timeline-item.slotOnload .timeline-timing {
  background-color: var(--color-slotOnload);
}
.timeline-item.slotVisibilityChanged .timeline-timing {
  background-color: var(--color-slotVisibilityChanged);
}
.timeline-item.impressionViewable .timeline-timing {
  background-color: var(--color-impressionViewable);
}

.timeline-timing,
.timeline-label,
.timeline-details {
  display: block;
  color: darkslategray;
  font-size: 75%;
}

.timeline-timing {
  position: relative;
  width: var(--timeline-size);
  height: var(--timeline-size);
  border-radius: calc( var(--timeline-size) / 2 );
}

.timeline-label {
  position: absolute;
  left: calc( var(--timeline-size) * 1.5 );
  top: 0;
  transform-origin: calc( var(--timeline-size) * -1 ) center;
  transform: rotate(-45deg);
  transition: all .2s ease-in;
  max-width: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}
.timeline-details {
  position: absolute;
  left: calc( var(--timeline-size) * -1 );
  top: calc( 100% + 2px );
  width: calc( var(--timeline-size) * 3 );
  text-align: center;
}

/* --- settings form */

.page-settings {
  padding: 1rem;
  border: 1px solid lightgray;
  background-color: azure;
}
.page-settings > .option {
  margin-bottom: 1rem;
  /* border-bottom: 1px dotted lightgray; */
}
.page-settings .sub-option {
  margin-top: 1rem;
}
.page-settings label {
  white-space: nowrap;
  display: inline-block;
  width: 16rem;
}
.page-settings .sub-option {
  padding-left: 1rem;
  display: none;
}
.page-settings .sub-option label {
  width: 15rem;
}
.page-settings input[type="checkbox"]:checked ~ .sub-option {
  display: block;
}

/* temporary fix for ad container overflows */
[id^=google_ads_iframe_] {
  max-width: 100%;
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "graph"
      "aside-top"
      "main"
      "aside-bottom"
      "footer";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
  .timeline-iddle.start {
    min-width: 3rem;
  }
  .timeline-iddle.finish {
    min-width: 4rem;
  }
}

@media (max-width: 550px) {
  .timeline-items {
    display: block;
  }
  .timeline-iddle.start {
    margin-bottom: var(--timeline-size);
  }
  .timeline-details {
    left: unset;
    top: 0;
    right: 0;
  }
  .timeline-label {
    transform: unset;
    max-width: unset;
    text-decoration: none;
    top: 1px;
  }
}