/* --- base */

/* :root {
  --content-width: 720px;
} */

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
}

/* --- utilities  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  display: block;
  content: "";
  clear:both;
}

/* --- layout */

.grid-container {
  display: grid;
  /* grid-template-rows: 1fr auto 2fr; */
  /* grid-template-columns: 1fr 660px 300px 1fr; */
  grid-template-areas:
  "ads-site-top      ads-site-top      ads-site-top      ads-site-top"
  "header            header            header            header"
  "graph             graph             graph             graph"
  "main              main              main              aside-top"
  "main              main              main              aside-bottom"
  "ads-site-bottom   ads-site-bottom   ads-site-bottom   ads-site-bottom"
  "footer            footer            footer            footer";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.grid-container > * {
  border: 1px dashed navy;
}

.grid-ads-site-top {
  grid-area: ads-site-top;
  /* margin-bottom: -1rem; */
}

.grid-header {
  grid-area: header;
}

.grid-graph {
  grid-area: graph;
  padding: 1rem;
}

.grid-main {
  grid-area: main;
}

.grid-aside-top {
  grid-area: aside-top;
}

.grid-aside-bottom {
  grid-area: aside-bottom;
}

.grid-ads-site-bottom {
  grid-area: ads-site-bottom;
}

.grid-footer {
  grid-area: footer;
}

/* --- site elements */

.site-header {
  /* padding: 1.5rem 0; */
  /* background-color: midnightblue; */
  /* color: snow; */
}
.site-header > h1 ,
.site-header > p {
  /* margin: 0; */
}

.navbar {
  /* display: flex; */
  /* justify-content: space-between; */
}
.navbar-brand {}
.navbar-items {}
.navbar-item {}
.navbar-item.current {}

/* --- timeline */

.timeline-container {
  --timeline-height: 12px;
  font-family: monospace;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px dotted gray;
}

.timeline-item {
  --color-slotRequested: skyblue;
  --color-slotResponseReceived: royalblue;
  --color-slotRenderEnded: limegreen;
  --color-slotOnload: gold;
  --color-slotVisibilityChanged: pink;
  --color-impressionViewable: deeppink;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  position: relative;
}

.timeline-item.slotRequested .timeline-timing {
  background-color: var(--color-slotRequested);
}
.timeline-item.slotResponseReceived .timeline-timing {
  background-color: var(--color-slotResponseReceived);
}
.timeline-item.slotRenderEnded .timeline-timing {
  background-color: var(--color-slotRenderEnded);
}
.timeline-item.slotOnload .timeline-timing {
  background-color: var(--color-slotOnload);
}
.timeline-item.slotVisibilityChanged .timeline-timing {
  background-color: var(--color-slotVisibilityChanged);
}
.timeline-item.impressionViewable .timeline-timing {
  background-color: var(--color-impressionViewable);
}

.timeline-item > span,
.timeline-item.timeline-iddle::before {
  color: darkslategray;
}

.timeline-item.timeline-iddle::before {
  content: "~";
  position: absolute;
  top: 1px;
  right: calc( 100% + 2px );
  text-align: right;
}

.timeline-timing {
  width: var(--timeline-height);
  height: var(--timeline-height);
  border-radius: calc( var(--timeline-height) / 2 );
}

.timeline-separator {
  margin: 0 2px;
}
.timeline-label {
  /* transform-origin: left center; */
  /* transform: rotate(-45deg); */
  /* transition: all .5s ease-in; */
}
.timeline-details {

}